* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

.container {
    height: 100%;
    width: 100%;
    position:absolute;
    background-image: url(day.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container.dark{
    height: 100%;
    width: 100%;
    position:absolute;
    background-image: url(night.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}



.calculator {
    width: 42%;
    height: 625px;
    margin: 0 auto;
    margin-top: 80px;
    border: 8px solid #e8eaec;
    min-width: 310px;
    max-width: 310px;
    border-radius: 44px;
    background: #79a6d4;
    box-shadow: 
    12px 12px 32px rgba(13,39,80,0.25),
    -10px 10px 15px #fff
}


#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    opacity: 0.8;
}

button:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: hue-rotate(90deg);
    filter:brightness(200%);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
  }
  
.calculator button.theme {
    background-color:  #adf9e7;
    color: #000;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
    width: 42%;
    height: 625px;
    margin: 0 auto;
    margin-top: 80px;
    border: 8px solid #1c0272;
    min-width: 310px;
    max-width: 310px;
    border-radius: 44px;
    background: #0d0d0d;
    box-shadow: 
    12px 12px 32px rgba(11, 79, 188, 0.25),
    -10px 10px 15px #130981
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #4b0c1b;
    color: #e40413;
  }

  .calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #300251;
    color: #e208db;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
  }

  .calculator.dark button.theme {
    background-color: #3a4848;
    color: #f0eeee;
  }